---
import Footer from '../components/Footer.astro';
import Home from '../components/Home.astro';
import Projects from '../components/Projects.astro';
import Articles from '../components/Articles.astro';
import Layout from '../layouts/Layout.astro';
import '../style/global.css';
---

<Layout>
	<main>
		<Home />
		<Projects />
		<Articles />
	</main>
	<Footer />
</Layout>
