@font-face {
  font-family: "Kanit";
  src: url("/portfolio/fonts/Kanit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("/portfolio/fonts/Kanit-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("/portfolio/fonts/Kanit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("/portfolio/fonts/Kanit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-text: #353535;
  --color-white: #ffffff;
  --color-background: #f6f6f6;
  --color-primary: #2f2f2f;
  --color-border: #bdbdbd;
  --color-black: #000000;
  --color-hover: #f0f0f0;
  --color-medium: #7e7e7e;
  --color-secondary: #141414;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1;

  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  word-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: balance;
}

.linear-text {
  background-image: linear-gradient(
    to right,
    var(--color-border),
    var(--color-text)
  );
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  color: transparent !important;
  text-align: center;
}
