---

interface Props {
  src: string
}

const { src } = Astro.props
---

<div class="container">
  <img class="avatar" src={src} />
  <!-- <Tag iconName="hand" label="Karolyne Marques" /> -->
</div>

<style>
  .avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid white;
  transition: transform 0.8s ease-in-out;
  transform-style: preserve-3d;
}

@keyframes avatar-flip {
  0% {
    transform: perspective(300px) rotateY(0deg); 
  }
  100% {
    transform: perspective(300px) rotateY(360deg); 
  }
}

.avatar:hover {
  animation: avatar-flip 0.8s linear; 
}

  .container {
    display: flex;
    align-items: end;
    justify-content: start;
  }
</style>